{% extends 'main.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/formEditor.css' %}">
    </head>
    <body>
        <h1 id="pageTitle">Form editor ...</h1>
        <div class="form-container">
            <h2 contenteditable="true" id="formTitle">-Name your form here!-</h2>
            <div class="formHeaders">
                <h2>response type</h2>
                <h2>your question</h2>
            </div>
            <!-- <div class="formHeaders">
                <p>(Choose a response type)</p>
                <p>(Enter your inquiry)</p>
            </div> -->

            <form id="form" class="editingForm">
                <!-- inside here is a bunch of form elements -->
                <div id="form-elements">
                  <div class="inputContainer" id="inputContainer9999999">
                    <button type="button" id="button9999999" onclick="" class="deleteButtonHidden">O</button><select id="select0" class="formElements" onchange="checkSelect(select0)"><option value="text-field">text-field</option><option value="true-false">true-false</option><option value="attitude-scale">attitude-scale</option></select><input type="text" id="input0" placeholder="Enter your inqury here..." class="formElements"></div>
                </div>
            </form>
            <div class="form-buttons">
              {% csrf_token %}
                <button onclick="addElement()" id="add-element">Add field (+) </button>
                <br>
                <a class="form_link" href="{% url 'profile' %}">
                  <button onclick="sendData()" id="save-form">Save Form</button>
                </a>
                {% comment %} <button onclick="submitResponses()" id="save-form">Submit Responses</button> {% endcomment %}
            </div>
            
            <br>
            <p style="visibility: hidden;" id="formJSON" class="formJSON">Form JSON: </p>
            {% comment %} <p id="responseJSON" class="formJSON">Response JSON: </p> {% endcomment %}
        </div>
        <script type="text/javascript" src="{% static 'JS/form.js' %}"></script>
    </body>
</html>


{% endblock content %}

{% comment %} <html>
  <head>
    <title>Form Editor</title>
    
  </head>
  <body>
    <!-- Your HTML content here -->
  </body>
</html> {% endcomment %}