{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="home">

  <div>
            <h2>Welcome back {{request.user.first_name}}!</h2>
        
            <a href="{% url 'landingpage' %}">+ Create New Survey</a>
                <div>
                    <div class="dropdown">
                        survey name
                        <b class="dropbtn"> &#x22EE;</b>
                        <div class="dropdown-content">
                          <a href="#">Delete</a>
                          <a href="#">Get QR</a>
                        </div>
                      </div>
                </div>
          </div>

    
  </main>


{% endblock content %}
