{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="home">

           <div>
            {% for profile in profiles %}
            <h2>Welcome back {{profile.name}}!</h2>
          
            <a href="{% url 'formEditor' %}">+ Create New Survey</a>

           
                <div>

            <a href="{% url 'pastsurvey' profile.id %}">View Past Surveys</a>
            
            {% endfor %}

           
                    <!-- <div class="dropdown">
                        survey name
                        <b class="dropbtn"> &#x22EE;</b>
                        <div class="dropdown-content">
                          <a href="#">Delete</a>
                          <a href="#">Get QR</a>
                        </div>
                      </div> -->
                </div>


          </div>
        

    
  </main>


{% endblock content %}
