/* reset initial margin and padding */
* {
    margin: 0;
    padding: 0;
}

#pageTitle {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
}

#formTitle {
    margin-bottom: 25px;
    padding: 2px;
    padding-bottom: 40px;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    text-align: center;
    border-radius: 2px 2px 0 0;
    height: 27px;
    text-overflow:clip;
}

#formTitle:hover {
    background-color: rgb(112, 112, 112);
}

.form-container {
    margin: 5%;
    background-color: #ffffff;
    
    border: 2px solid black;
    border-radius: 5px;
}

/* .form-container * :not(#formTitle) {
    margin: 5px;
} */

.formElements {
    display: inline-block;
    text-align: center;
    height: 20px;
    margin-left: 25px;
}

body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.inputContainer {
    display: flex;

}

.inputContainer input{
    text-align: left;
    margin: auto;
    padding: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: max-content;
    margin: 3px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    border: none; /* <-- This thing here */
    border: 1px solid rgb(12, 12, 12);
    border-radius: 3px;
}

.inputContainer label {
    display: inline-block;
    margin-top: 22px;
    background-color: hsl(2, 80%, 80%);
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgb(12, 12, 12);
}

.inputContainer select {
    height: 30px;
    padding: 0 30px;
}



button {
    padding: 5px;
    margin: 5px;
    background-color: rgb(0, 113, 128);
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

.deleteButton {
    padding: 4px;
    padding-bottom: 8px;
    margin: 5px;
    background-color: rgb(255, 59, 59);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    height: 25px;
    width: 25px;
    border: none;
}

.deleteButtonHidden {
    visibility: hidden;
}

#add-element {
    margin: 0 30%;
    background-color: rgba(219, 219, 219, 0.781);
    color: rgb(153, 153, 153);
    border: 4px dashed rgb(146, 146, 146);
    
    border-radius: 5px;
    width: 40%;
    height: 60px;
    
}

#add-element:hover {
    background-color: rgba(213, 228, 255, 0.781);
    color: rgb(49, 49, 49);
    border: 4px dashed rgb(68, 68, 68);
}


.deleteButton:hover {
    background-color: rgb(184, 31, 31);
}

.formHeaders {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 0;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
}

.formHeaders p, .formHeaders h2 {
    margin: 0px;
    
}


.responseElement {
    margin: 5px;
    margin-bottom: 15px;
    padding: 40px 20px ;
    padding-top: 15px;
    background-color: rgb(231, 242, 255);
    border-radius: 3px;
}

.responseHeading {
    margin-bottom: 30px;
}


.responseElement input {
    /* margin: 5px; */
    padding: 5px;
    height: 35px;
    width: 98%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid rgb(12, 12, 12);
}

.formJSON {
    background-color: #7A9A94;

    display: hidden;
}
