{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>

  <div class="auth">

    <div class="card">

      <div class="auth__header text-center">
        <h2>Account Login</h2>
      </div>
      {% if page == 'register' %}
      <h1>Register User</h1>



      <p>Have an Account?</p>
          <a href="{% url 'login' %}">Log In</a>
      {% else %}
      <form action="{% url 'login' %}" method = "POST" class="form auth__form">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Input:Email -->
        <div class="form__field">
          <input class="input input--text" id="formInput#text" type="text" name="username"
            placeholder="Email" />
        </div>

        <!-- Input:Password -->
        <div class="form__field">
          <input class="input input--password" id="formInput#passowrd" type="password" name="password"
            placeholder="Password" />
        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Login" />
        </div>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>

      </form>
      {% endif %}

      
    </div>
  </div>

</body>

</html>


{% endblock content %}