{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="home">


           <h2>Welcome back {{request.user.first_name}}!</h2>

           <a href="{% url 'formEditor' %}">+ Create New Survey</a>
                <div>
                    <div class="dropdown">
                        <h3>Surveys</h3>

                        <ul class="user_forms">                
                          {% for form_id, form_title in forms %}
                            <a class="form_link" href="{% url 'survey' form_id  %}">
                              <li>{{ form_title }}</li>
                              <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=http://{{ request.META.HTTP_HOST }}{% url 'survey' form_id %}&amp;size=300x300" width="150" height="150" />
                            </a>
                            <a class="form_link" href="{% url 'results' form_id  %}">
                            
                              <li>{{ form_title }} - results</li>
                            </a>
                          </br>
                          {% endfor %}
                        </ul>

                        
                      </div>
                </div>
          </div>
    
  </main>


{% endblock content %}